body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1F2937;
  flex-wrap: wrap;
  background-color: #f71735;
}

.headerLinks{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.headerLinks h4
{
 color: #FF9F1C;
}
.link {
  font-size: 18px;
  color: #E5E7EB;
}

.darkBlueContainer {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  
}

.right {
  min-width: 0;
  max-width: 300px;
  flex: 0 1 300px;
}

.left {
  flex: 0 1 600px;
}

.darkParagraphTitle {
  font-weight: extra-bold;
  font-size: 48px;
  color: #FF9F1C
}

.darkParagraph {
  font-size: 18px;
  color: #FF9F1C;
}



.whiteSectionTitle {
  font-size: 38px;
  text-align: center;
  color: #FF9F1C;
  font-weight: extra-bold;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.example {
  max-width: 150px;
  text-align: center;
}

.exampleImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-color: #3882F6;
  border-radius: 25px;
  border-style: solid;
  border-width: 3px;
}

.whiteSection {
  margin-top: 20px;
  margin-bottom: 20px;
}









.footer {
  background-color: #1F2937;
  text-align: center;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer h3 {
  font-size: 30px;
  color: #E5E7EB;
}