.topnav  {
    background-color: #011627;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    color: #FDFFFC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #01213b;
    color: #FDFFFC;
  }

  .topnav a.active {
    background-color: #FF9F1C;
    color: #FDFFFC;
  }

  .topnav .icon {
    display: none;
  }